<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="tomatoset.com.global">
    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
        <uses-permission
            android:name="android.permission.android.ACCESS_FINE_LOCATION"/>
        <uses-permission
            android:name="android.permission.android.ACCESS_COARSE_LOCATION"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCsUWx7fGu9RHzQrCqBXhckPxiaopB99KI"/>
        <activity android:name="com.tomatoset.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
